.closeDialog{
	-fx-background-color: "FFFFFF";
}

.closeDialog > *.button-bar > *.container{
	-fx-background-color: "FFFFFF"
}

.closeDialog > *.label.content{
	-fx-font-size: 16px;
	-fx-text-fill: "111111";
}

.closeDialog .button{
	-fx-background-color: "FFFFFF";
	-fx-text-fill: "111111";
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-effect:dropshadow(one-pass-box, gray, 3, 1, 0, 0);
}

.closeDialog .button:hover{
	-fx-background-color: "DDDDDD";
	-fx-text-fill: "111111";
	-fx-font-weight: bold;
}

.closeDialog .button:pressed{
	-fx-background-color: "BBBBBB";
	-fx-text-fill: "111111";
	-fx-font-weight: bold;
}